.app-page.logseq-pro {
  @apply pt-16 min-h-screen block;

  > section, .as-section {
    @apply xl:max-w-screen-xl mx-auto;

    b {
      @apply font-[500] text-pro-200;

      &.thin {
        @apply font-[400];
      }

      &.ls {
        @apply text-[#a4b5b6];
      }

      &.bg {
        @apply bg-pro-900 text-pro-50 px-1 mx-1;
      }
    }

    &.pro-info {
      @apply min-h-[880px] relative flex flex-col px-5 pt-3 sm:pt-10 sm:px-14;

      > .bg {
        @apply w-full h-[500px] absolute left-1/2 translate-x-[-50%] top-32 z-0;

        background: radial-gradient(ellipse, rgba(60, 186, 243, .6) 0%, transparent 20%);

        @screen sm {
          background: radial-gradient(ellipse, rgba(60, 186, 243, .6) 0%, transparent 70%);
        }
      }

      .pro-flag {
        @apply relative top-[-4px] sm:top-0;
      }
    }

    &.tweets-section {
      @apply min-h-[800px] pt-[60px] translate-y-[-40px] relative;

      background-image: url("./assets/page_bg1.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center -500px;
      z-index: 1;

      &:before {
        @apply absolute top-0 left-0 w-full h-2/3 z-0
        from-logseq-800 to-transparent bg-gradient-to-b;

        content: " ";
      }

      > .inner {
        > h1 {
          @apply text-6xl text-center font-medium pt-24;
        }

        > h2 {
          @apply text-4xl text-center font-normal leading-[42px] pt-5;
        }
      }
    }
  }

  .as-pro-card {
    @apply rounded-2xl bg-logseq-600/10 backdrop-blur-md
    py-8 px-7 overflow-hidden min-h-[200px] mb-8;

    /*noinspection CssInvalidPropertyValue*/

    &:before {
      content: "";
      pointer-events: none;
      user-select: none;
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(rgba(94, 94, 94, 0.86), rgba(0, 0, 0, 0));
      -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
      -webkit-mask-composite: xor;
    }

    &.as-pro-border {
      @apply bg-pro-900/30;

      &:before {
        background: linear-gradient(rgb(60, 186, 243, .86), rgba(255, 255, 255, 0));
      }
    }
  }

  .choose-plan-section {
    @apply relative z-10 flex flex-col items-center;

    &-wrap {
      @apply relative min-h-[800px] pt-10;

      &:before {
        @apply absolute top-[-200px] left-[50%] translate-x-[-50%]
        rounded-full h-[5600px] w-[250%];

        background: linear-gradient(180deg, rgb(0, 174, 255) 0%, rgba(155, 153, 148, 0) 10%);
        box-shadow: 1px 1px 28px #03a8f3;
        content: " ";
        opacity: .58;
        z-index: 0;
      }

      .footer-desc {
        @apply pt-[230px] mt-[-190px];
      }
    }

    > h1 {
      @apply font-bold text-6xl text-center leading-[4rem] tracking-wide;
    }

    > h2 {
      @apply text-4xl leading-[2.8rem] pt-10 text-center tracking-wide;

      .pro-flag {
        @apply text-xl py-1.5 px-3 mx-1;
      }
    }

    > .tabs {
      @apply flex justify-center pt-16 pb-14;

      > ul {
        @apply flex items-center bg-[#02171d] rounded-lg p-[1px];

        li {
          @apply flex items-center text-xl py-3.5 w-[175px] justify-center
          leading-4 space-x-1 text-pro-200 tracking-wider ml-[2px] font-light
          select-none;

          &.active {
            @apply bg-logseq-600/50 rounded-[6px] text-gray-100 overflow-hidden font-medium;
          }
        }
      }
    }

    > .cards {
      @apply flex w-full space-x-7 px-28;

      > .free, > .pro {
        @apply flex-1 relative min-h-[400px] p-0 flex flex-col;

        > .th {
          @apply px-6 pt-8 pb-3 flex flex-col;

          > h1 {
            @apply text-2xl leading-4 font-medium tracking-wide py-5;
          }
        }

        > .bd {
          @apply px-[24px] py-4;

          > h2 {
            @apply text-4xl font-medium pb-2;
          }

          li {
            @apply text-xl flex items-center space-x-2 py-1 opacity-80
            font-normal tracking-wide;
          }
        }
      }

      > .free {
        > .th {
          background: linear-gradient(162deg, rgba(6, 98, 119, 0.6) 0%, rgba(0, 0, 0, 0) 45%);

          > strong {
            @apply font-medium uppercase text-xs  bg-logseq-800 w-fit px-1.5 py-1 rounded
            tracking-widest text-gray-300/90;
          }

          > h1 {
            @apply text-gray-300;
          }
        }

        > .bd {
          @apply bg-logseq-500/95 flex-1;
        }
      }

      > .pro {
        > .th {
          background: linear-gradient(162deg, rgba(42, 103, 122, 0.6) 0%, rgba(0, 0, 0, 0) 45%);

          > strong {
            @apply w-fit m-0 text-xs py-0.5 px-1.5 rounded-md border-[2px];
          }
        }

        > .bd {
          @apply bg-pro-900/90 flex-1;
        }
      }
    }
  }

  .qa-plan-section {
    @apply min-h-[600px];

    > h1 {
      @apply text-6xl flex justify-center flex-col items-center
      mt-24 leading-[1.1em] tracking-wide;
    }

    > ul {
      @apply my-16 px-56;

      > li {
        @apply bg-logseq-600/90 pt-6 pb-4 relative pl-16 pr-10 mb-8;

        a {
          @apply absolute top-[22px] left-[22px] bg-logseq-500/90 scale-75
          active:opacity-80 cursor-pointer select-none p-0.5;
        }

        > h1 {
          @apply text-2xl leading-none pt-0 pb-3 font-medium;
        }

        > h2 {
          @apply text-lg leading-7 opacity-70 pb-2;
        }
      }
    }
  }

  .plans-card {
    @apply px-3 pt-6 sm:pt-11 sm:px-8 sm:min-h-[850px];

    &.a {
      @apply bg-left-bottom bg-no-repeat bg-contain;

      background-image: url("./assets/pro_card_bg1.png");
      padding-bottom: 300px;
    }

    &.b {
      @apply bg-right-bottom bg-no-repeat;

      background-image: url("./assets/pro_card_bg2.png");
      background-size: 94%;
      padding-bottom: 180px;
    }

    &.c {
      @apply absolute mx-0 px-4 left-0 bottom-0 pt-0 pb-0
      w-full min-h-0 h-[170px] flex items-center select-none;

      > span {
        @apply flex flex-1 justify-center items-center;

        > strong {
          @apply text-4xl font-[400] ml-1 mr-4;
        }

        > small {
          @apply text-pro-200 text-[18px];
        }
      }
    }

    > i {
      @apply w-[72px] h-[72px] flex items-center justify-center
      rounded-full text-pro-400 bg-pro-600/20;
    }

    > h1 b, > h2 b {
      @apply font-normal;
    }

    > h1 {
      @apply font-medium text-2xl pt-4 tracking-wide pl-[0.5]
      sm:text-4xl sm:leading-[44px] sm:font-normal;
    }

    > h2 {
      @apply pt-4 pr-4 font-medium;
    }

    .big-things {
      > h4 {
        @apply text-sm font-bold pt-8 pb-5 text-pro-200;
      }

      > ul {
        @apply relative pb-0.5;

        &:before {
          @apply absolute w-[4px] h-[100%]
          top-[18px] sm:top-[32px] left-[20px]
          from-pro-600 to-transparent bg-gradient-to-b;

          content: " ";
        }

        > li {
          @apply flex flex-col pl-14 mb-6 sm:mb-3 relative;

          > strong {
            @apply text-xl font-[400] tracking-wider;
          }

          > span {
            @apply hidden sm:block text-sm opacity-70 py-1;

            b {
              @apply font-normal;
            }
          }

          &:before {
            @apply w-[16px] h-[16px] absolute
            top-[6px] sm:top-[20px] left-[14px]
            bg-pro-500 rounded-full overflow-hidden;

            content: " ";
          }

          &:nth-child(2):before {
            @apply bg-pro-700;
          }

          &:nth-child(3):before {
            @apply bg-pro-800;
          }
        }
      }
    }
  }

  .tweet-cards {
    @apply flex space-x-8 pt-20 px-40;

    > .c1, > .c2 {
      @apply flex flex-col flex-1;
    }

    .tweet-card {
      @apply rounded-2xl bg-logseq-700/20 backdrop-blur-3xl
      py-8 px-7 overflow-hidden min-h-[200px] mb-8;

      b {
        @apply font-light;

        &.bg {
          @apply font-[400];
        }
      }

      > p:first-child {
        @apply text-2xl leading-[33px] font-light tracking-wide;
      }

      > p:last-child {
        @apply flex justify-between mt-8 mb-2 text-lg;

        > span:last-child {
          @apply flex items-center space-x-3;

          a.link {
            @apply border rounded p-1 border-gray-600 ml-3 bg-gray-500/20
            cursor-pointer active:opacity-80;
          }
        }
      }

      /*noinspection CssInvalidPropertyValue*/

      &:before {
        content: "";
        pointer-events: none;
        user-select: none;
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 1px;
        background: linear-gradient(rgba(94, 94, 94, 0.86), rgba(0, 0, 0, 0));
        -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
        -webkit-mask-composite: xor;
      }
    }
  }

  .compare-btn {
    @apply hidden absolute top-[34px] left-[50%] sm:flex items-center
    translate-x-[-62%] px-4 py-2 space-x-1.5 rounded-lg bg-pro-700 select-none
    border-transparent border-[2px] cursor-pointer active:bg-pro-800 active:border-pro-700;

    box-shadow: 1px 0 10px #016c9b;
  }

  .ui-pro-card {
    @apply rounded-2xl bg-logseq-600/30 backdrop-blur-3xl overflow-hidden;

    /*noinspection CssInvalidPropertyValue*/

    &:before {
      content: "";
      pointer-events: none;
      user-select: none;
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(rgb(60, 186, 243, .8), rgba(255, 255, 255, .1));
      -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
      -webkit-mask-composite: xor;
    }
  }

  .pro-flag {
    @apply border-[3px] py-[5px] text-[14px] px-2 rounded-md ml-2
    sm:border-[4px] border-pro-400 text-pro-400 sm:rounded-xl sm:px-5 sm:py-[10px]
    tracking-widest bg-pro-600/40 sm:text-[28px] leading-none sm:ml-10 mr-2 font-bold;
  }

  .dark-flag {
    @apply font-medium uppercase text-xs  bg-logseq-800 w-fit px-1.5 py-1 rounded
    tracking-widest text-gray-300/90;
  }

  .light-flag {
    @apply font-bold uppercase text-xs  bg-white w-fit px-1.5 py-[3px] rounded
    tracking-wide text-pro-600/90;
  }
}